@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chuyển dịch vỏ trái đất tại Việt Nam</title>

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/node_modules/arcgis_js_api/library/4.18/esri/themes/light/main.css" />
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

    <body>

        @RenderBody()



    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>
