<div class="modal fade" id="statisticModal" tabindex="-1" role="dialog" aria-labelledby="statisticModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statisticModalLabel">Biểu đồ chuyển dịch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <!-- Combobox -->
                    <div class="form-group col-md-4">
                        <label for="categorySelect">Trạm CORS</label>
                        <select id="categorySelect" class="form-control">
                            <option value="">-- Chọn trạm CORS --</option>
                        </select>
                    </div>

                    <!-- Ngày bắt đầu -->
                    <div class="form-group col-md-4">
                        <label for="startDate">Từ ngày</label>
                        <input type="date" id="startDate" class="form-control">
                    </div>

                    <!-- Ngày kết thúc -->
                    <div class="form-group col-md-4">
                        <label for="endDate">Đến ngày</label>
                        <input type="date" id="endDate" class="form-control">
                    </div>
                </div>

                <div class="form-group text-right">
                    <button type="submit" id="btn_drawing_chart" class="btn btn-primary">Vẽ biểu đồ chuyển dịch</button>
                </div>
                <!-- Vùng vẽ biểu đồ -->
                <div class="mt-4">
                    <h6>Kết quả biểu đồ</h6>
                    <!-- Loading spinner -->
                    <div id="loading" class="text-center mt-3" style="display:none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    @* <canvas id="chartAreaNorth" style="width: 100%; height: 300px;"></canvas> *@
                    <canvas id="chartAreaNorth"></canvas>
                    <canvas id="chartAreaEast"></canvas>
                    <canvas id="chartAreaAltitude"></canvas>
                    <canvas id="chartAreaPosition"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>