@page

@model CapNhatNguoiDungModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm mới / Cập nhật người dùng";
    string message = "";
    if (ViewData["ErrorMessage"] != null) message = ViewData["ErrorMessage"].ToString();
}

@if (Model.user != null)
{
    <h1>Cập nhật người dùng</h1>
}
else
{
    <h1>Thêm mới người dùng</h1>
}
@if (message.Length > 0)
{
    <div class="row">
        <div class="col">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                    <use xlink:href="#exclamation-triangle-fill" />
                </svg>
                <div>
                    @message
                </div>
            </div>
        </div>
    </div>
}
<div>
    <form method="post">
        <div class="form-group">
            <label asp-for="user.Username"></label>
            <input class="form-control" asp-for="user.Username" placeholder="Tên đăng nhập">
            <span asp-validation-for="user.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.Email"></label>
            <input class="form-control" asp-for="user.Email" placeholder="Email">
            <span asp-validation-for="user.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.Phone"></label>
            <input type="number" class="form-control" asp-for="user.Phone" placeholder="Số điện thoại">
            <span asp-validation-for="user.Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.Password"></label>
            <input type="password" class="form-control" asp-for="user.Password" placeholder="Mật khẩu">
            <span asp-validation-for="user.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.RetypePassword"></label>
            <input type="password" class="form-control" asp-for="user.RetypePassword" placeholder="Nhập lại mật khẩu">
            <span asp-validation-for="user.RetypePassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.Role"></label>
            <select asp-for="user.Role" class="form-control">
                <option value="USER">Người dùng</option>
                <option value="ADMIN">Người quản trị</option>
            </select>
        </div>
        <input type="hidden" asp-for="user.ID">
        <button type="submit" class="btn btn-primary">Nhập</button>
    </form>
</div>
