@page
@model XoaNguoiDungModel
@{
    ViewData["Title"] = "Xóa người dùng";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

@if (Model.DeletingUser != null)
{
<p>Bạn có muốn xóa người dùng: @Model.DeletingUser.Username</p>
<form method="post">
    <input type="hidden" value="@Model.DeletingUser.ID" asp-for="userId">
    <button type="submit" class="btn btn-primary">Xóa người dùng</button>
</form>
}